@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-light: #98c8ff;
  --primary-dark: #0b7de1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playpen-sans: "Playpen Sans Thai", cursive;
  --font-noto-sans-sc: var(--font-noto-sans-sc);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Playpen Sans Thai", cursive;
}