@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-light: #98c8ff;
  --primary-dark: #0b7de1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-thai: var(--font-noto-sans-thai);
  --font-roboto-flex: var(--font-roboto-flex);
  --font-noto-sans-sc: var(--font-noto-sans-sc);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-flex), var(--font-noto-sans-thai), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  width: 100%;
}